body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: black;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/aixala_alcait/aixala_alcait_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*BARRA SUPERIOR*/
.navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y los enlaces */
    align-items: center;
    padding: 15px 30px;
    background-color: #222; /* Color de fondo de la barra */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.navbar .logo a img {
    height: 50px; /* Tamaño del logo */
    width: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1b5e20; /* Fondo verde más oscuro al pasar el ratón */
    border-radius: 5px;
}

/* Diseño responsive para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
        padding: 12px 20px;
    }
}  
/*BARRA SUPERIOR*/



.container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto; /* Para asegurar que el contenedor se mantenga centrado horizontalmente */
}

.logo_bodega {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo_bodega img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.etiquetas-container {
        display: flex;
        flex-direction: row; /* Esto coloca los elementos en una fila horizontal */
        align-items: center; /* Alinea verticalmente los elementos (opcional) */
        justify-content: flex-end; /* Alinea los elementos al final del contenedor (a la derecha) */
        padding: 10px;
        gap: 20px; /* Espacio entre las imágenes */
}

.etiquetas-container img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.texto {
    flex: 2;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
}

/*CATÁLOGO DE PRODUCTOS*/

.catalogo {
    background-color: #ffffff; /* Fondo distinto para el catálogo */
    padding: 50px 0;
    text-align: center;
}

.catalogo h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: black; 
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas por fila */
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y el texto horizontalmente */
    justify-content: flex-start;
    background-color: #ffffff; /* Opcional: fondo para ver el contenedor */
    padding: 5px;
    border-radius: 10px;
    height: 100%; /* Esto es clave para que todos midan lo mismo en el grid */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra ligera */
}

.producto img {
    width: 100%;
    max-height: 300px; /* Controla que no se hagan demasiado grandes */
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.producto img:hover {
    transform: scale(1.05); /* Efecto de aumento en hover */
}

.producto p {
    font-size: 1.1em;
    margin-top: 10px;
    color: black;
    margin: 10px 0 0 0;
    font-size: 1.1em;
    text-align: center;
    min-height: 40px; /* Ajusta para que todos tengan espacio similar */
}

.producto h3{
    color: black;
}
